:root {
  background-color: #f1db42;

}

.App {
  text-align: center;
}

.input-content {
  margin-bottom: 10px;
}

.input-content input {
  padding: 5px;
  width: 400px;
  height: 30px;
  font-size: 15px;
  outline: none;
  border: 1px solid rgb(248, 190, 66);
  border-radius: 4px;
  margin-right: 5px;
}

.input-content button {
  background: #d54b1a;
  color: white;
  padding: 12px 25px 12px 25px;
  border-radius: 4px;
  cursor: pointer;
  border: none
}

.table-content table {
  width: 50%;
  margin: auto;
  background-color: #e9e6e1;
  border-radius: 4px;
}

.table-content table tr th {
  background-color: #d54b1a;
}

#btnDelete {
  background-color: tomato;
  color: white;
  border: none;
  padding: 5px 5px;
  border-radius: 3px;
  cursor: pointer;
}
